<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016 António Borba da Silva
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  ~ documentation files (the "Software"), to deal in the Software without restriction, including without limitation the
  ~ rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit
  ~ persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
  ~ Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
  ~ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  ~ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
  ~ DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.isel.s1516v.ps.apiaccess">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".TertuliasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/tertulias"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkSDomP2ZKLPumUj-KtnjGnjeCVLPgvrQ"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_activity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tertuliacreation.NewTertuliaActivity"
            android:label="@string/title_activity_new_tertulia" />

        <activity
            android:name=".tertuliaedition.EditTertuliaActivity"
            android:label="@string/title_activity_edit_tertulia" />

        <activity
            android:name=".tertuliadetails.TertuliaDetailsActivity"
            android:label="@string/title_activity_new_tertulia"
            android:parentActivityName=".tertuliacreation.NewTertuliaActivity" />

        <activity
            android:name=".tertuliadetails.PlacePresentationActivity"
            android:label="@string/title_activity_place_presentation"
            android:parentActivityName=".tertuliadetails.TertuliaDetailsActivity" />

        <activity android:name=".EditUserProfileActivity" />

        <activity android:name=".tertuliacreation.ScheduleWeeklyActivity" />

        <activity android:name=".tertuliacreation.ScheduleMonthlyDActivity" />

        <activity android:name=".tertuliacreation.ScheduleMonthlyWActivity" />

        <activity
            android:name=".tertuliasubscription.SearchPublicTertuliaActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_tertulia" />
        </activity>

        <activity
            android:name=".tertuliasubscription.PublicTertuliaDetailsActivity"
            android:label="@string/title_activity_public_tertulia_details"
            android:parentActivityName=".tertuliasubscription.PublicTertuliaDetailsActivity" />

        <activity android:name=".memberinvitation.ViewMembersActivity"
            android:label="@string/title_activity_member_invitation"
            android:parentActivityName=".tertuliadetails.TertuliaDetailsActivity" />

        <activity
            android:name=".memberinvitation.SearchContactsActivity"
            android:label="@string/title_activity_member_invitation"
            android:parentActivityName=".memberinvitation.ViewMembersActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contact" />
        </activity>

        <activity android:name=".InvitationActivity" />

    </application>

</manifest>